.email {
  flex: 1;
  background-color: whitesmoke;
}
.email-icons {
  display: flex;
  background-color: white;
  justify-content: space-between;
}
.email-iconsLeft {
  display: flex;
}
.email-body {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
  height: 100vh;
  border-color: white;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}
.email-bodyHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 20px;
  position: relative;
}
.email-bodyHeader > p {
  margin-right: 20px;
}
.email-important {
  color: #e8ab02 !important;
}
.email-bodyHeader > h2 {
  font-weight: 400;
  margin-right: 20px;
}
.email-message {
  padding: 10px;
  margin-right: 20px;
  overflow-wrap: break-word;
}
.email-time {
  position: absolute;
  top: 24px;
  right: 0;
  font-size: 12px;
  color: gray;
}
.email-message{
    
}
